[2020-05-02 21:41] PTaylor-FluenTech opened #2 "Minimum features"
- [x] Duration should have a constant(?) Ratio value setting the period of one tick in seconds (a Duration with millisecond precision should have a Ratio value of 1/1_000)
- [x] A Clock trait to be implemented on system/hardware-dependent type (ie. CYCCNT, Timer(s), etc.).

[2020-05-03 19:33] PTaylor-FluenTech commented on #2
It is extremely desirable for this crate to be compatible with the RTFM Monotonic trait. That trait (implicitly) requires that the Duration::TryInto<u32> convert the Duration into the number of ticks that represent the duration at the frequency of the SysTick timer.

[2020-05-03 19:35] PTaylor-FluenTech commented on #2
I attempted to make the period of `Duration` a const `Ratio<T>`, but unfortunately, generic types (`T`) are not allowed as part of a constant generic type.

[2020-05-08 19:14] #2 closed

[2020-05-12 23:04] PTaylor-FluenTech opened #3 "Modify RTFM and complete example for nRF52-DK using embedded-time"
Mostly, this involves modifying how RTFM interfaces with the System Timer (eg. SysTick). Currently, it's a rather "raw" interface requiring the Monotonic implementation to implement a From<u32> in which the value is converted to System Timer ticks. See rtfm-rs/cortex-m-rtfm#309.

embedded-time must first support simple comparisons and conversions not just among time units (seconds, milliseconds, e

[2020-05-12 23:14] PTaylor-FluenTech opened #4 "Unhappy with the second type parameter required on `Instant` type"
I arrived at the current design after much churning and attempting different approaches. I've arrived at a structure of `Instant<impl Duration<RepType>, RepType>. Since the `impl Duration...` isn't allowed in many cases, it becomes this:

[code]

This is the only way I found to bound `T` as implementing `Duration`.

I feel like there must be a better way.

[2020-05-13 15:51] PTaylor-FluenTech commented on #4
I figured out that I didn't have to bound `T` as a `Duration<R>`. By relaxing these bounds, I was able to eliminate the Phantom.

[2020-05-13 15:51] #4 closed

[2020-05-16 05:27] PTaylor-FluenTech opened #5 "Add selective wrapping arithmetic"
Wrapping arithmetic is needed where a counter may roll over at some point. Using wrapping arithmetic, allows for the full width of the counter to be considered regardless of the current count value.

# Looking at the [RTFM](https://github.com/rtfm-rs/cortex-m-rtfm/blob/master/src/cyccnt.rs) CYCCNT implementation as a reference
- Instance is a i32
- Duration is a u32

Wrapping arithmetic is used wh

[2020-05-16 09:04] tib888 commented on #5
saturating add/sub can be also useful for durations, to avoid overflow when summing up many small duration in a accumulator...

[2020-05-16 15:16] PTaylor-FluenTech commented on #5
@tib888 Thank you for the recommendation. I will definitely take a look at that.

[2020-05-16 15:51] PTaylor-FluenTech opened #6 "Saturating add/sub for durations, to avoid overflow when summing up many small duration in a accumulator"
saturating add/sub can be also useful for durations, to avoid overflow when summing up many small duration in a accumulator...

_Originally posted by @tib888 in https://github.com/PTaylor-FluenTech/embedded-time/issues/5#issuecomment-629613452_

[2020-05-16 16:17] PTaylor-us opened #7 "Signed/Unsigned Inner Types"
I began this journey after finding that the core::Duration was an unsigned value. I then investigated the `time` crate and found that while it does have signed Duration, it is focused more toward "wall-clock" time considerations. This led me to great this project.

I began my development with the use-case of a non-wrapping timer (typically chaining two 32-bit peripheral timers in a microcontroller

[2020-05-18 17:03] PTaylor-FluenTech commented on #7
This is inaccurate. In fact, a signed result of the wrapping arithmetic is important. Otherwise, Instances cannot be ordered.

[2020-05-21 17:29] #5 closed

[2020-05-21 20:40] PTaylor-FluenTech commented on #3
This has been completed in the following forks:
[PTaylor-FluenTech/rtfm-core](https://github.com/PTaylor-FluenTech/rtfm-core/tree/embedded-time)
[PTaylor-FluenTech/cortex-m-rtfm](https://github.com/PTaylor-FluenTech/cortex-m-rtfm/tree/embedded-time)

[2020-05-21 20:40] #3 closed

[2020-05-22 00:40] PTaylor-FluenTech commented on #6
What failure mode is optimal? A panic or an inaccurate duration? My current thought is a panic is better. Otherwise, you may have some timing that is off, but you're not alerted to it.

[2020-05-22 04:38] tib888 commented on #6
Just implement the Saturating trait on Duration, so one can use it if it suits his goals.
https://docs.rs/num-traits/0.2.2/num_traits/ops/saturating/trait.Saturating.html

It is implemented also on the basic integer types, so you can use them during the implementation instead of '+':
https://doc.rust-lang.org/std/primitive.u32.html#method.saturating_add

[2020-05-22 04:58] tib888 commented on #6
You can also implement the CheckedXXX operations, which give chance for explicit error handling:
https://docs.rs/num-traits/0.2.2/num_traits/ops/checked/trait.CheckedAdd.html

But wrapping behavior for example makes no sense on Duration, but it does on Instant as you already know.
https://docs.rs/num-traits/0.2.2/num_traits/ops/wrapping/trait.WrappingAdd.html

[2020-05-22 14:11] PTaylor-FluenTech commented on #6
That makes a lot of sense.

I actually went through all the arithmetic operations (other than the `wrapping` ops) and replaced them with `checked` ops propagating the `Option` along with any other conversion/casting errors as `Option`s.

One issue that's been difficult for me to get used to is coming from C++ where there is implicit integer promotion in arithmetic operations.

[2020-06-04 23:17] PTaylor-FluenTech opened #11 "Add Blocking Delay to `Clock`"

[2020-06-05 02:28] #11 closed

[2020-06-11 00:54] PTaylor-FluenTech opened #15 "add frequency / data rate types"
These would obviously be some sort of reciprocals of the `Period` type. What functions/methods would be reasonable for these types?

- division
- multiplication
- reciprocal to `Period`

It's unlikely that these values would not be whole numbers. Therefore, they could likely just be an integer tuple struct.

[2020-06-17 23:33] #15 closed

[2020-06-20 15:49] PTaylor-us opened #17 "Add bridge to `core::time::Duration"
Looks excellent. One thing that could be useful is a bridge to `core::time`, which is only `Duration` at the moment.

_Originally posted by @therealprof in https://github.com/rust-embedded/embedded-hal/issues/211#issuecomment-646988939_

[2020-06-20 16:06] PTaylor-us opened #18 "Add lossless duration handling within a given `Clock` domain"
Given the following call (which will not compile) where `instant` and `now` are two instants from `SysClock`:
[code]
`SysClock` _may_ have any `Period`/precision, but the call of `duraction_since()` requires a `Duration` implementing type be specified. This is not optimal, particularly in generic or library situations as it requires an arbitrary decision about the precision.

[2020-06-20 16:13] PTaylor-FluenTech commented on #18
The immediate idea is to make the default duration one with the same `Period` as the Clock associated with the two instants. However, this would mean a less efficient duration scheme. Currently all `Period`s are associated `const`s from the `Duration` trait.

[2020-06-20 16:21] PTaylor-FluenTech commented on #18
My current line of investigation is adding `Instant` and `Clock` methods that eliminate the explicit conversion into a `Duration`. The methods would work with the raw ticks while maintaining the same `Period` (that of the `Clock`). However, these semantics may be too unwieldy and unintuitive to use.

[2020-06-21 10:43] TheZoq2 opened #19 "Implement TimeInt for unsigned ints"
I'm trying to port our current time unit types in [stm32f1xx_hal](github.com/stm32-rs/stm32f1xx-hal/) to use this crate. Ideally, We currently use `u32` as the inner type for our types, which I think makes sense since negative frequencies, or durations to wait for a timer for example don't make much sense.

It looks like the `TimeInt` type requires `From<i32>` and `Into<i64>` to be implemented for

[2020-06-21 17:38] PTaylor-FluenTech commented on #19
This is a very good question and one I wrestled with for a while. I documented my self-discussion in #7. I would greatly appreciate if you would read that and let me know if my conclusion is incorrect or if there is a way to at least be compatible with unsigned inner types.

[2020-06-21 20:13] PTaylor-us commented on #7
If it is absolutely necessary for the difference between two `Instant`s to result in a signed `Duration` (which I believe it is), could other types still utilize unsigned inner types? At the lowest level, the hardware timers are virtually always treated as unsigned values. What gets messy is when support for that timer overflowing from the max value back around to 0. By using a _signed_ wrapping_s

[2020-06-22 03:20] PTaylor-us commented on #17
Added with v0.5.2

[2020-06-22 03:20] #17 closed

[2020-06-22 23:20] PTaylor-us opened #20 "Add a `Timer` type/trait"
I think it's important to make a distinction between a _clock_ and a _timer_. These are my current working definitions:
- **Clock**: Any entity that periodically counts (ie a hardware timer/counter peripheral). Generally, this needs to be monotonic. A wrapping clock is considered monotonic in this context as long as it fulfills the other requirements.
- **Timer**: An entity that counts toward an e

[2020-06-25 15:51] TheZoq2 commented on #19
Hmm, my motivation for specifying timings using this crate would be that, in theory, embedded drivers and HALs can use one unified time type to specify requirements. For that, no arithmetic is required, in fact, I'd imagine both the drivers and HALs would "unwrap" the types when arithmetic is required.

I may also be missing a use case, or perhaps this isn't the right crate for that job

[2020-06-25 18:00] PTaylor-us commented on #19
@TheZoq2

I'm not exactly sure what you mean by "specify requirements". I can definitely see the nonsense of negative frequencies. I could see that if a duration is calculated, it may be negative. In many cases, however, durations are literal and so probably very seldom be negative.

I am willing and eager to make any changes necessary to enhance usability and compatibility. If I understand correc

[2020-06-25 19:36] TheZoq2 commented on #19
In the current embedded-hal, the type of a delay/duration is fully generic, so there is no neat way for a driver to be written to accept a specific value. This comment from a crate of mine describes it a bit better https://github.com/TheZoq2/esp01-rs/blob/master/src/timing.rs#L4. Because of the current design, there is no way to say "delay for 5 seconds", for example.

Precisely

[2020-06-26 02:43] PTaylor-us commented on #19
@TheZoq2 I was able to change all the inner types to unsigned while maintaining the proper math concerning `Instant`s. I would greatly appreciate it if you have a chance to take a look and see if this gives you the functionality you're looking for.

[2020-06-27 16:21] PTaylor-us opened #23 "Add Instant::duration_until()"

[2020-06-28 23:29] PTaylor-us opened #24 "Round Conversion Into Lower Precision Durations"

[2020-06-29 06:56] eldruin opened #25 "Fallibility of `Clock` methods for I2C RTC device driver implementations"
First of all, thank you for taking the time to develop embedded-time!

I had a quick look at if implementing `Clock` for I2C RTC devices since I [wrote](https://github.com/eldruin/ds1307-rs) [a few](https://github.com/eldruin/ds323x-rs) [drivers](https://github.com/eldruin/mcp794xx-rs) but at the moment this seems not possible due to fallibility of the methods.

As any interaction over I2C can fai

[2020-06-29 07:11] eldruin opened #26 "Non-blocking interface for `Clock::delay()`?"
I think it could be useful for the `Clock::delay()` method to have a non-blocking interface like: `fn delay<Dur>(dur: Dur) -> nb::Result<(), ()>`.
This would return `Err(nb::Error::WouldBlock)` as long as the delay is ongoing and `Ok(())` once finished.

This would give the user more control on polling and what to do while waiting and is the usual interface for other blocking methods (see [here](h

[2020-06-29 15:16] PTaylor-us commented on #26
Thank you for the issue. I am currently working on the next minor-version release which should include a `Timer` type. Feel free to take a look at the PR #21 and let me know what you think. It does allow for starting a timer, then either blocking until it expires (`wait()`) or polling. It also allows reading both elapsed and remaining time (in real-world duration units, of course). In fact, that P

[2020-06-29 15:21] PTaylor-us commented on #25
I hadn't considered external clock sources at all. Thank you so much for bringing this to my attention. I will take a look at the discussion you linked to. Tentatively, it does seem as though an associated `Error` type might make the most sense (probably `Infallible` for on-chip peripheral `Clock` impls).

[2020-07-01 00:51] PTaylor-us opened #30 "Add `panic-never` as a dependency for example(s)"
[`panic-never`](https://crates.io/crates/panic-never)

All potential panic points must be handled.

[2020-07-01 22:07] PTaylor-us opened #32 "Change `Clock` trait to require interior mutable state?"
I believe this this change must be made (`now(&mut self)` --> `now(&self)`) or every `Timer` function that needs to access the clock must be passed a &mut of the clock. I don't like the latter for the following reasons:
- Makes usage much more verbose
- Allows usage of **different** clocks with the same `Timer`

I think the last item is the greatest concern. What do you think @eldruin? How much mo

[2020-07-02 06:35] eldruin commented on #32
I understand. The same thing happens on drivers with the mutable I2C devices. The solution there is to consume the resource and return it upon destruction. See [here](https://github.com/eldruin/ds1307-rs/blob/aadf636dce5d59112405f0b7c18150023c096057/src/lib.rs#L165). The return of the valuable resources can make code messy, though, if doing type-level transformations as highlighted at [2. here](ht

[2020-07-03 19:49] #7 closed

[2020-07-03 19:49] #19 closed

[2020-07-03 19:49] #23 closed

[2020-07-04 16:10] #20 closed

[2020-07-04 16:10] #25 closed

[2020-07-04 16:11] #32 closed

[2020-07-04 16:15] PTaylor-us commented on #26
I'm going to look into this as I have virtually no experience with `nb`. I'm hesitant to adopt semantics like this due to the uncertainty and deadlock I perceive in the embedded WG. If anything, I may add this alongside the current `wait()` interface.

[2020-07-04 16:46] PTaylor-us opened #36 "Bound `Instant::duration_since_epoch()` to where `Clock: Infinite`"
The `duration_since_epoch()` only makes sense if the `Clock` from which the `Instant` was returned never (practically speaking) wraps. This could be a `Clock` with sufficient low precision or large inner type to virtually ensure it never overflows during any single "turned-on" period of time and the `Clock` starts at 0 on reset.

[2020-07-07 01:59] PTaylor-us opened #37 "Add benchmark testing"
Compare `Duration` performance and space efficiency with `core::time::Duration`.

[2020-07-08 00:02] #30 closed

[2020-07-12 17:05] little-arhat opened #40 "Feature parity with bitrate crate?"
Hello!

I currently time/frequency/bitrate types from [bitrate crate](https://github.com/dfrankland/bitrate). I saw few discussions around this crate in embedded-hal and rtic-rs repos and decided to give it a try. However, some features from bitrate crate are absent from embedded-time:
* bitrate types (Bps);
* extensions types for numerics (`32.hz`);
* `Copy` is not implemented.

Do you want to ma

[2020-07-12 18:26] PTaylor-us commented on #40
Thank you so much for the feedback and interested in `embedded-time`. First, it is my intention to try to cover all time/frequency/bitrate related uses in embedded systems.

Now your bullet points:
- bitrate types (Bps)
  - When I added the `frequency` module and `Hertz` type, I considered adding other types such as bps. At that time, I decided to hold off since units like bps, baud, etc are all f

[2020-07-12 18:31] PTaylor-us opened #41 "Change rate-based to/from units conversion from Period to Duration"
This makes much more logical sense as the Period type is otherwise only used as a scaling factor for duration types.

[2020-07-12 18:53] PTaylor-us commented on #18
With the new `Timer` type taking over blocking delays, it now looks like this:
[code]
Where the goal would be to be able to leave the duration units unspecified.

Perhaps an API of `clock.delay_until(Instant)` would be doable. However, that may just push the problem lower down.

[2020-07-13 20:35] little-arhat commented on #40
@PTaylor-us thanks for the reply.

stm32-rs [defines Bps](https://github.com/search?q=org%3Astm32-rs+struct+bps&type=Code) multiple times, and there is nothing specific in their definition. So even if they were defined as aliases to `Hertz` crates would still had to contain duplicate definitions, which is unfortunate.

Thanks for pointing me to `NumericConstructor`, will check it out. Personally,

[2020-07-13 23:09] PTaylor-us commented on #40
@little-arhat I will go ahead and add a concrete Bps type including extension construction.

[2020-07-13 23:10] PTaylor-us opened #42 "Add bits per second and baud concrete types"
#40

[2020-07-14 01:06] #37 closed

[2020-07-14 21:19] PTaylor-us opened #43 "Separation of features into separate crates"
It may be necessary to split this crate as there are potentially different use-cases for various features.

[2020-07-14 21:33] PTaylor-us commented on #43
My initial impression is that the following discrete crates might make sense:

- time
  - `Duration` trait and off-the-shelf duration types
  - Rate types
- clock
  - `Clock` trait
  - `Instant` type
  - Dependencies
    - time
- timer
  - `Timer` type
  - Dependencies
    - clock

Largely, these dependencies are already realized. However the `Clock` trait contains a method `new_timer()` to spawn

[2020-07-19 22:03] eldruin opened #47 "Error trait is not easy to use in external device driver implementations"
I implemented `Clock::now()` on my [ds323x](https://github.com/eldruin/ds323x-rs) I2C/SPI RTC driver.
The implementation was quite straight forward, the whole thing is in this file: [embedded_time.rs](https://github.com/eldruin/ds323x-rs/blob/embedded-time-no-error-trait/src/embedded_time.rs)
And here is an example: [embedded_time_linux.rs](https://github.com/eldruin/ds323x-rs/blob/embedded-time-n

[2020-07-20 00:10] PTaylor-us commented on #47
That makes a lot of sense. I'll take a look at your PR and likely merge it. Thanks!

[2020-07-20 07:36] eldruin commented on #47
Great, thank you!

[2020-07-20 07:36] #47 closed

[2020-07-21 00:26] PTaylor-us opened #50 "Rename `Clock::now()` to `Clock::try_now()` as long as it returns a `Result`"

[2020-07-23 09:06] korken89 opened #51 "Result based interfaces and `fmt`-bloat / code-noise"
# Feedback on embedded-time

Hi,

Thanks for the presentation you did for us in the RTIC meeting, and after this meeting I'd like to come with some feedback of issues/improvements I see with the current implementation.

In this issue I'll focus on the interface. It's a bit general for all designs based on `embedded-hal`.

---

When it comes to `Result` based interfaces, as we see in `embedded-hal`

[2020-07-23 09:35] eldruin commented on #51
For the record, `umwrap` is used [a total of 8 places](https://github.com/FluenTech/embedded-time/search?q=unwrap&unscoped_q=unwrap) in the _extensive_ library code (excluding documentation and examples) as of now.
`interface.operation().ok()` does not sound particularly troublesome to me.

On a separate note, I would argue that, for example, I2C drivers can only have limited knowledge about how t

[2020-07-23 11:08] korken89 commented on #51
With embedded-time (or any return value crate) the `.ok()` pattern stops working and one is back to:

[code]

So unfortunately it does not hold.

This is the core of my post above, what meaningful error can you boil up that should not be handled by the driver and should be handled by the user in code, that is not relevant to the driver code?
In my view this is unfortunate interface design.

Coming

[2020-07-23 11:40] eldruin commented on #51
I am not sure I understood this correctly: does the `fmt` bloat come from `embedded-time` itself, from your own use of `Result`s returned by `embedded-time` or both?

The problem I see is that "_meaningful_" is different for each application. A generic driver cannot possibly attempt to know if it is safe to ignore or handle every error that comes from the I2C implementation being used, since it kn

[2020-07-23 12:59] perlindgren commented on #51
Regarding the general question whether drivers should panic! or return with an Error. Is there some example of error recovery code written for the I2C connected peripherals (or any other HAL code for that matter). What meaningful Error could the generic driver produce, that would allow the application code to fix it (that does not stem from a design error). Design errors should result in a panic!,

[2020-07-23 14:59] eldruin commented on #51
I do not have any application to show here.
One situation I can think of is: If an I2C device is showing wear signs and starts blocking the bus longer than usual, you may start getting an increasing number of arbitration loss or timeout errors in interactions with the same _or other_ I2C devices.
If these errors are reported, the application could then compensate by decreasing the interaction rate

[2020-07-23 16:49] PTaylor-us commented on #51
First, I want to thank @korken89 for his great post opening up this discussion. Thank you also to everyone else who has added to it. It's a debate that is raging in multiple embedded Rust communities (rust-embedded/embedded-hal#229). Now to dive in.

@korken89 :

Isn't it the case that this fmt bloat is dependent on the panic crate used? This seems to be the case in my own (limited) testing.

I co

[2020-07-24 19:20] PTaylor-us opened #52 "Fixed-point (named Duration/Rate) conversion to/from Generic of opposite kind"
In some cases, a `Generic` may be returned from a function and need to be converted to a _named_ type of the opposite kind (eg. `Generic` `Duration` to a _named_ `Rate`).

[2020-07-24 19:22] PTaylor-us opened #53 "Add try_into_(rate/duration)"
`try_from_rate` and `try_from_duration` are implemented, but it would be nice to provide the `try_into_` options as well.

[2020-07-24 23:09] #18 closed

[2020-07-24 23:09] #40 closed

[2020-07-24 23:09] #41 closed

[2020-07-24 23:09] #42 closed

[2020-07-24 23:09] #50 closed

[2020-07-24 23:47] PTaylor-us opened #54 "Update API to follow Rust API Guidelines"
[Rust API Guidelines](https://rust-lang.github.io/api-guidelines/about.html)

[2020-07-25 14:49] PTaylor-us opened #55 "Add serde Serialize/Deserialize impls to types?"
Per the [API guidelines](https://rust-lang.github.io/api-guidelines/interoperability.html#c-serde)

[2020-07-25 15:28] PTaylor-us opened #56 "Fix duration/rate conversion arithmetic durability"
It's currently too easy to overflow this conversion.

[2020-07-26 01:10] #56 closed

[2020-07-27 18:32] PTaylor-us opened #58 "Add explicit `From` impls for infallible and `TryFrom` for fallible intra-duration and intra-rate conversions"

[2020-07-28 16:12] PTaylor-us opened #59 "Expand implemented integers to all unsigned types?"

[2020-07-29 15:27] PTaylor-us commented on #51
I am currently making some major changes to the underlying mechanics in order to offer infallible (no Result or Option return) interfaces wherever possible.

[2020-07-29 15:29] PTaylor-us commented on #51
I know this doesn't address the issue of implementation-defined error propogation, but I think it will make the interface easier to use in general, not having to deal with Results **all** the time.

[2020-07-29 15:35] PTaylor-us commented on #51
Additionally, I'm much more open to panicking where it makes sense (logic errors).

[2020-07-30 20:58] PTaylor-us opened #60 "Upgrade core::time::Duration conversions"
Many of these can be switched from `TryFrom` to `From`.

[2020-07-30 21:09] PTaylor-us opened #61 "Add consuming `into_integer()` to `Generic`s and `FixedPoint`"

[2020-08-01 02:16] PTaylor-us commented on #53
Naming is being changed to follow API guidelines. The `try_from` functions will be replaced by `to_` methods.

[2020-08-02 07:01] PTaylor-us commented on #61
I may actually leave the field access only. I'm worried that adding an `into_integer()` will be confused with calculating the _real_ value of the fixed-point object rather than just getting the _integer_/_magnitude_ part of the value.

[2020-08-03 17:15] PTaylor-us opened #63 "Increase test coverage"

[2020-08-03 17:29] PTaylor-us opened #64 "Reduce `Result` usage"
Brought up in #51. This probably be largely achieved by using _static enforcement_. In addition, depending on the error, just `panic`ing may be appropriate.

[2020-08-03 17:39] #61 closed

[2020-08-03 17:41] PTaylor-us opened #65 "Move `from_ticks()` back into the `FixedPoint` trait"
Use `#[doc(hidden)]`

[2020-08-03 17:46] PTaylor-us commented on #54
Closing as it is too general.

[2020-08-03 17:46] #54 closed

[2020-08-03 23:19] PTaylor-us opened #66 "Revert all `checked_` methods to return `Option`"

[2020-08-04 11:20] therealprof commented on #51
I think there're **very** few cases where a `panic!()` is appropriate, namely those where terrible things could happen if the application was to continue running.

Dealing with `Result`s is super-easy. That's what we have the `?` operator for; either make them compose properly by having functions return a `Result` themselves or simply cast them away in a central place, maybe even add a comment tel

[2020-08-05 16:27] #66 closed

[2020-08-05 16:28] #53 closed

[2020-08-05 16:28] #58 closed

[2020-08-05 16:28] #64 closed

[2020-08-05 21:18] #63 closed

[2020-08-05 21:50] #65 closed

[2020-08-06 04:16] PTaylor-us opened #69 "Unify readme docs"

[2020-08-06 22:55] PTaylor-us opened #70 "Impl Mul and Div (along with `checked` versions) for durations and rates"

[2020-08-08 00:01] #69 closed

[2020-08-09 17:39] PTaylor-us opened #71 "Add clarification and usage example for Generic duration/rate types."

[2020-08-09 22:50] #71 closed

[2020-08-10 06:30] ryan-summers opened #72 "Duration calculated from clock instants cannot be used with concrete Durations"
When a calculation is performed using two `Instant`s from a given `Clock`, the resulting `Duration` is of type `duration::Generic<Clock::T>`. It appears that this type does not implement the necessary `Try`, `TryFrom`, `Into`, or `TryInto` traits to be used for a comparison against a concrete duration, such as `duration::Seconds(1)`.

Example:
[code]

The result of attempting to convert the `Gener

[2020-08-10 06:31] ryan-summers commented on #72
Because only the type conversion is not implemented, these can still be used, but much less ergonomically.

[code]

The above compiles just fine (as expected).

[2020-08-10 16:16] PTaylor-us commented on #72
[code]

[code]

Calling the test function with: `duration_since_with_generic_type::<clock::Clock>(clock::Clock);`

[2020-08-10 17:59] ryan-summers commented on #72
After some discussion with @PTaylor-us, it appears that the issue can no longer be reproduced as originally stated. Concrete durations appear to work with proper `TryInto` conversions. I'm closing this issue as not-an-issue, but will keep watching out for a recurrence so we can potentially figure out what was going on.

[2020-08-10 17:59] #72 closed

[2020-08-16 02:35] PTaylor-us opened #73 "Remove auto-widening in some operations"
I thought that auto-widening of values to prevent failures was a good move, but it causes terrible code bloat. The user should be able to choose whether it's worthwhile bringing in 64-bit arithmetic.

[2020-08-28 23:55] #70 closed

[2020-08-28 23:55] #73 closed

[2020-09-08 16:30] Maldus512 opened #75 "How do I declare a Timer field in a struct?"
Hello,
I'm moving to this library to manage time durations in my system. I was able to substitute my previous `u32` timestamp checks and wanted to use the `Timer` type to articulate period tasks.

To this end I'm trying to add a `Timer` field to a struct that then executes a task every second. Unfortunately the `Timer` struct requires 4 type parameters, out of which two (`State` and `Type`) are pr

[2020-09-11 14:46] PTaylor-us commented on #75
The Timer type acts as a _builder_. The Timer::new() gives you a OneShot, Armed Timer object. From there, you can call Timer.into_periodic() to get a Periodic, Armed Timer object. From there you call Timer.start() to make it _Running_. I guess this scheme does require you to start the timer upon initialization of your struct. I can see that as being non-optimal.

[code]

If this doesn't work for y

[2020-09-11 14:48] PTaylor-us opened #76 "Add example code for Timer"
#75

[2020-09-14 18:28] Maldus512 commented on #75
This is what I was trying to accomplish:

[code]

I can get the same result (as I am currently doing) by separately storing an `Instant` timestamp and a `Duration` period to be checked, but I felt the timer route would have been more elegant. The most obvious problem is that I cannot declare the field `timer` of the struct, as I do not have access to the required types (where I wrote `Something` i

[2020-09-15 22:30] PTaylor-us commented on #75
I will definitely take a close look at this and figure out what I need to change.

Would you mind elaborating on this? It's entirely possible I overlooked something, but I'm not sure what issues you are concerned about. I can imagine a situation where mutable access to the Clock is needed by the implementation. Is this what you're worried about.

[2020-09-20 13:54] Maldus512 commented on #75
Not really; truth to be told I'm still a beginner when it comes to Rust and I forgot I can indeed have multiple immutable references to an object (in this case `Clock`). Lifetimes and references were not clear to me in this particular context; after some more study I understood that if I want to declare a `Timer` field inside a struct I will just have to add an explicit lifetime parameter to accou

[2020-09-23 16:44] PTaylor-us commented on #75
That is good for me to know too. I too am relatively new and there are many patterns that I am not very familiar with. At the very least, I will document an example of containing a `Timer` in a struct. I'm guessing that perhaps you can leave one or more `Timer` type parameters as anonymous in the struct declaration?

[2020-09-26 09:47] Maldus512 commented on #75
I'm afraid I'm not exactly sure of what you mean by "anonymous type parameters"

[2020-10-15 10:58] ctron opened #79 "Breaks docs.rs build"
It looks like the upgrade from Rust nightly 1.48 to 1.49 (which docs.rs uses) breaks the docs build now. To my understanding, this comes from `embedded-time`:

[code]

[2020-10-15 15:15] PTaylor-us commented on #79
Thank you for reporting this. #78 was merged to master as a fix, but I haven't released a new version yet.

[2020-10-16 18:52] N3xed opened #80 "Fails to compile with the latest nightly compiler"
Using the latest nightly rust compiler (`rustc 1.49.0-nightly (dd7fc54eb 2020-10-15)`) this library fails to compile with the following errors:

[code]

I could help to implement a fix, but I have absolutely no idea what causes these compile errors. This could also be a bug in the nightly rust compiler (but I don't know, so I'm posting it here).

[2020-10-16 18:54] N3xed commented on #80
Oops, looks like it's the same as #79 .

[2020-10-16 18:54] #80 closed

[2020-11-01 16:18] Luis-Hebendanz opened #81 "error[E0284]: type annotations needed"
![1604247391_grim](https://user-images.githubusercontent.com/22085373/97808234-07522d00-1c66-11eb-8974-3ad7d07655f5.png)

[code]

[2020-11-03 09:07] fry commented on #81
Seconding that, compiles fine on nightly-2020-10-05 for me.

[2020-11-10 02:37] twitchyliquid64 commented on #81
Ditto - any chance we could release a new version with this fix?

[2020-11-13 12:52] hannobraun commented on #79
@PTaylor-us Would you consider releasing a new version some time soon? I have some new libraries that have no working documentation on docs.rs, and other crates that I couldn't release right now if I wanted (as to not break the documentation).

This also causes failure on my CI builds for the nightly channel, and I assume it's going to work its way up to the beta and stable channels soon.

Thank y

[2020-11-13 12:54] hannobraun commented on #43
Add an extension trait to `timer` (pseudo-code, not compiled or tested):
[code]

That would require the user to import `ClockExt` to use that method, but that can be eased by creating a `prelude` module and telling users to always `use timer::prelude::*`.

[2020-11-13 17:05] PTaylor-us commented on #79
@hannobraun Sorry for the delay. I will plan to create a new release in the next day or two.

[2020-11-13 17:06] PTaylor-us commented on #81
I'll do this in the next day or two. Sorry for the delay.

[2020-11-14 11:17] hannobraun commented on #79
Thank you, and no need to apologize!

[2020-11-15 21:07] #79 closed

[2020-11-19 14:37] korken89 opened #82 "Comparing durations -- operations not symmetric"
Hi!

I have been trying to port to this library but I seem to get into some unergonomic issues that I feel like should be straight forward.
I think I am doing something wrong, and what I am doing is eg:

[code]

I have issues with finding a way to get these kinds of conversions to pass.
How would one do this?

[2020-11-23 13:56] korken89 commented on #82
Now after experimenting I am still not able to compare durations, but I found other "paper cuts" that I think is good feed back for the future development of this library.
It's a great start, however I think the ease-of-use can have some improvements. :)

I'd expect to have 2 extension traits on top of `Clock`:
1. `InfiniteClock`, which is a trait that for all intensive purposes are infinite (like

[2020-11-23 14:35] korken89 commented on #82
More experimentation, it seems that the functionality is here, just asymmetrically implemented?

I found that the following works:
[code]

However none of the following works:

[code]

All which are just symmetric transforms of

[2020-11-23 20:23] PTaylor-us commented on #82
Thank you for finding the root issue. That rings a bell that I didn't figure out how to make some of the operations symmetric. I will definitely dig into that when I have a chance.

[2020-11-24 07:38] korken89 commented on #82
I'll also have a look at it, seems like it should be straight forward for me to expand this.

[2020-11-24 15:56] korken89 opened #84 "Code bloat due to use of `unwrap` in library"
Hi, I did some code bloat tests and as I suspected the use of `unwrap()` in the library does pull in unnecessary formatting machinery.
I can fix it but I want to check first, all `val.unwrap()` would be replaced with:

[code]

Should I fix a PR with this?

[2020-11-24 15:57] korken89 commented on #82
PR with fix is up

[2020-11-24 21:33] twitchyliquid64 commented on #60
+1. We are in the process of updating atsamd-rs HAL to use embedded-time (https://github.com/atsamd-rs/atsamd/issues/333), but running into issues as converting to a `Hertz` (as a lot of methods consume an `Into<Hertz>`) only works for the `u64` version, or using `TryFrom`.

On our side, we never expect anything in the Ghz, so this ends up being unwieldy.

@PTaylor-us, would you accept a PR to eit

[2020-11-25 09:23] Piroro-hs opened #85 "Fixed-point Duration with Clock::SCALING_FACTOR"
It's convenient to have fixed-point `Duration`s whose time unit is same as `Clock`'s.

It could be useful for use-case like below.

[code]

I will make a PR if you like.

[2020-11-25 14:14] Piroro-hs opened #86 "Add implementation for embedded_hal::blocking::delay::Delay trait"
How about adding `Clock::delay(&self) -> impl Delay` function (maybe behind feature gate)?
I will make a PR if you like.

[2020-11-28 21:18] TDHolmes commented on #84
Are there numbers on how much bloat this causes?

[2020-11-29 15:34] korken89 commented on #84
Not yet sure, as I converted my entire codebase to embedded time before realising, but I can run a cargo bloat and see what was added.

[2020-11-29 22:37] PTaylor-us commented on #84
If I remember correct, I tested for bloat pretty extensively and while the `.unwrap()`s I used does add some code, it was negligible and not worth making the code quite so noisy.

[2020-11-30 02:07] #82 closed

[2020-11-30 02:10] #81 closed

[2020-11-30 03:31] PTaylor-us commented on #86
I'm not seeing a `Delay` trait in embedded-hal. It does have `DelayUs` and `DelayMs`. These could possibly be implemented, but I think the proper implementation would be for `Timer`. I'm thinking something like this:

[code]

It's been a while since I've worked on this code, but I think we could wrap a timer in the Clock trait.

[2020-11-30 03:33] PTaylor-us commented on #75
@Maldus512 I'm updating this code. I believe making the Timer type parameters public would simplify this issue greatly. Can you confirm?

[2020-11-30 11:36] Maldus512 commented on #75
@PTaylor-us I think so. My main goal right now would be to declare a `Periodic` and `Running` timer as field/variable, and periodically check it, so exposing both type parameters as public would make it possible.

[2020-11-30 12:53] korken89 commented on #84
Hi, here are the most prominent ones that popped up when adding `embedded-time` to our project and replacing all time usage with it:

[code]

I am not 100% sure if the first line is attributed to `embedded-time` though, as it's errors should not need padding.
But I am not sure.

[2020-11-30 13:00] korken89 commented on #84
@PTaylor-us On the "noisy" part, simply create a macro to reduce it.

[2020-12-01 03:40] Piroro-hs commented on #86
Yes, `DelayMs` and `DelayUs`.

I thought that `Timer` is for constant duration...

[2020-12-12 20:18] korken89 opened #88 "Add an `integer()` method to `Instant`"
Hi,

I am trying to convert RTIC to use `embedded-time`, however I need access to the underlying ticks of an `Instant` to be able to set the timer's compare register.
Could this be added?

Thanks!

[2020-12-12 20:22] korken89 opened #89 "Duration from `checked_duration_since` cannot be added with `Instant`?"
Hi,

I am working on moving RTIC to embedded time, however the following trivial code gives a weird trait bound error that I need help with.
What is causing this as is there a recommended fix?

Code:

[code]

Error:

[code]

[2020-12-13 12:38] korken89 commented on #88
I found a work around, but it does not seem like a sane thing to do :)
As the documentation says that `duration_since_epoch` is only "sane" for `Infinite` clocks so using it in this way seems prone to breakage in the future.

[code]

[2021-02-04 17:40] korken89 opened #91 "Support for 16 bit timers?"
I noticed that `TimeInt` is not implemented for `u16` and hence not 16 bit timers.
Is there some reason for this other than the `From<u32>` part of the `TimeInt`?

[2021-02-04 18:05] korken89 commented on #59
Yes please :D

[2021-02-04 18:28] korken89 opened #92 "Generically take any duration?"
Hi, I have issues with getting the following code to compile as I am unable to get the correct traits needed.
Could you assist here @PTaylor-us ?

[code]

[2021-02-06 19:31] korken89 commented on #92
We found the correct traits that were needed eventually. Would there be any way to make this simpler?

Solution:

[code]

[2021-02-11 18:04] korken89 opened #93 "Want help maintaining?"
Hey @PTaylor-us !

I understand that you have a lot to do and wonder if you'd like help maintaining this library?
We are moving to `embedded-time` in RTIC and getting better support for more units, and more, is a high priority for us.

Ping me on Matrix or here if you feel like talking!

Best Regards
Emil

[2021-02-13 02:46] wbuck commented on #92
I did have a similar request.
Would it be possible to export the `TimeInt` trait?

It would be beneficial when trying to create a custom type, i.e `Rpm`.

[2021-02-22 21:22] korken89 opened #95 "Proposal: Only implement `Extension` traits for u32 for ergonomy"
For the sake of ergonomic use I'd recommend that the `Extension` traits only be implemented for `u32`
so that the expected operation works. Such as `3.seconds()`, `44.milliseconds()` etc.
Getting rid of the must have `_u32`/`_u64` or similar.

If one wants to be specific type can still use the types directly: `Seconds(1_u64)`.

What are your thoughts on this @PTaylor-us ?

[2021-02-24 21:12] seanybaggins opened #96 "Why does the `Clock` Trait require the user to define `const SCALING_FACTOR`?"
Why does the `Clock` Trait require the user to define...
[code]
?

Would it be better if `const SCALING_FACTOR` was instead
[code]

**The rational**
Suppose I am writing some `hal` or driver and I would like to implement the `Clock` trait so the user of my `hal`  or driver doesn't need to. Its possible when writing these `hal`'s or drivers that I cannot determine the frequency of hardware I am int

[2021-02-26 10:47] korken89 commented on #96
Hi this is to get compile time generation of the conversion math.

To set the speed of a HAL timer at compile time you can see an example here: https://github.com/rtic-rs/dwt-systick-monotonic/blob/master/src/lib.rs

[2021-03-02 07:52] korken89 commented on #93
Ping @PTaylor-us as a reminder to this :)

[2021-03-03 14:10] PTaylor-us commented on #93
@korken8 I think I need it. Thank you. Ideally, I'd still like to manage the direction of the project and be able to discuss changes before they are merged, but I could definitely use help reviewing the details of PRs and ensuring adequate tests and documentation (including examples if appropriate).

[2021-03-04 07:57] korken89 commented on #93
@PTaylor-us I fully understand!
I have no aim to change the direction of this library more than to come with proposals and help keep it moving :)
After moving RTIC to `embedded-time` and implementing our [`rtic_monotonic::Monotonic`](https://github.com/rtic-rs/rtic-monotonic/blob/master/src/lib.rs) trait I feel that we have something really good happening here!

I have also experimented with how t

[2021-03-15 16:00] PTaylor-us commented on #88
If I remember correctly, it was an intentional decision to leave this out. The semantics were designed to convert a _generic_ to a _named_ type before doing much of anything with it since the integer count from a _generic_ really has no meaning unless one is converting it manually to a meaningful value which is done automatically when converting to a _named_ type. The _generic_ type was necessary

[2021-03-15 16:09] PTaylor-us commented on #95
I agree it would be much nicer to use. I struggled with this for a long time trying to make u32 the default, but I couldn't get that to work. I guess, that works for me since 64-bit can still be used, just not with the extensions.

[2021-03-16 09:49] korken89 commented on #95
I made a branch testing this and all worked fine.

I'll prepare a PR after some cleaning!

[2021-03-16 10:08] korken89 commented on #88
I'm not quite sure what the `Generic<T>` has to do with it though, as we want to access the ticks of an `Instant`?
The trick here was just that we only have `integer()` implemented for duration (but its a hack that should not be needed IMO):

[code]

As long as there is an escape hatch to the underlying `Clock::T`, which can be made to be the hardware timer's tick, I'd say it's fine.
Do you maybe

[2021-03-18 14:21] PTaylor-us commented on #88
Apologies. I got mixed up with another issue. It was a similar thought process with Instant in that the value of Clock::T is meaningless unless the underlying implementation of the Clock is known. Can you send me a use-case example to help me wrap my head around it?

[2021-03-18 14:36] korken89 commented on #88
Absolutely!

Here are 2 examples:
https://github.com/stm32-rs/stm32l4xx-hal/blob/rtic_0.6_monotonic/src/timer.rs#L267
https://github.com/stm32-rs/stm32l4xx-hal/blob/rtic_0.6_monotonic/src/timer.rs#L312

[2021-03-19 14:31] PTaylor-us commented on #88
If I understand the examples, I don't think I intended for it to be used quite in this way. The Clock interface is for the higher layers as opposed to being used by the lower. In other words, it is intended that the user (as opposed to the implementer) of the Clock trait have no knowledge of the underlying implementation. So I think what I'm saying is that the set_compare shouldn't take an `Instan

[2021-03-20 07:46] korken89 commented on #88
This is the very thing that makes this so beautiful.
When the implementer of the clock trait is also the implementer of the actual hardware connection, `embedded-time` gets a true connection to the hardware within that implementation.
This feature is what is being exploited here, and in my opinion its beautiful API design that allows it.

And the final version of this idea you can see here, which

[2021-04-14 08:05] diondokter opened #98 "Consider making `TimeInt` public and `FixedPoint::integer` return a value"
I've done some work on making my existing time constructs compatible with embedded-time.
I ran into two issues however.

Basically, my setup is like this:
[code]

The `Fixed` trait comes from the Fixed crate that provides fixed point numbers.

#### Public `TimeInt`:

Since my time struct generic over the type of fixed number I'd like to implement `FixedPoint` for it generically too.
If `TimeInt` w

[2021-04-15 14:23] seanybaggins opened #99 "Should the Clock trait take a &mut self instead of &self?"
It would be nice if `try_now` would update the internal state of the clock before attempting to return the time. As it currently stands, it is up to the user of clock to make sure it is updated before they attempt to call `try_now`. Thoughts?

[2021-04-15 21:41] #96 closed

[2021-04-15 21:42] seanybaggins commented on #96
Thanks for the explanation. Closed the issue.

[2021-04-20 11:38] jhbruhn commented on #75
I am struggling with the same issue. Adding the state of the timers to the type via generics is a nice idea in principle, but in prevents us from storing the timer in a struct in different states. Or am I misusing the Timer struct?
As Maldus512 said, an example on how to use the timers stored in a struct would be very nice!

[2021-04-21 07:01] korken89 commented on #84
We are not encountering serious bloat issues which leads me back to this, see the following issue https://github.com/rtic-rs/cortex-m-rtic/issues/472

[2021-04-26 14:31] korken89 commented on #93
Hi @PTaylor-us!

How is this coming a long?
We are finding more and more issues we need to get fixed in `embedded-time`, and I'm not sure how to proceed.
I can help and review, but I expect in return that PRs and issues move forward.
Preferably, if you feel that you cannot put in the time, could you give me merge and cargo release rights?

If this continues in the current trend I'm starting to fee

[2021-04-27 14:47] PTaylor-us commented on #93
@korken89 I hear you and completely understand if you're feeling frustrated. I have not given these issues the attention they deserve, and you have been exceedingly patient. I'm going to dedicate some time every day to working through these issues. I also want to put together some checklists/templates for PRs to help define what I'm looking for and expecting as well some more high-level documentat

[2021-04-27 22:24] PTaylor-us commented on #88
@korken89 Here's what I'd like to do. Don't add the `integer()` function to Instant, but continue using the `duration_since_epoch()`. I will modify the documentation to define the behavior in a non-infinite context. How does that sound?

[2021-04-27 23:02] PTaylor-us commented on #84
@korken89 Was it verified as to what was pulling in those formatting routines? I see a lot of float formatting routines. I'm not sure how embedded_time could be causing those dependencies. I'm not averse to eliminating any fmt dependencies using a macro as you suggest. I realize that some projects will have to count bytes of code size.

[2021-04-28 06:32] korken89 commented on #84
To get to the full bottom of this I will make a branch of `embedded-time` to remove all use of `panic` with `Debug` and see where we land.
Just adding/removing dependencies points to `embedded-time` as the common denominator, but I want to be 100% sure from where this comes with some reproducible examples as well.

It's quite unfortunate that it's generally so hard to track formating bloat down.

[2021-04-28 06:34] korken89 commented on #88
This works just as good to me!
The behavior is well defined, so I think this is the better approach and just adding docs for it will be great.

[2021-04-28 06:38] korken89 commented on #93
Hi @PTaylor-us,

I really want to thank you for taking the time!
I'll be available for PR generation/reviews and comment ideas as much as I can. Just ping me whenever you feel like it!
Also if there is a feature you feel is needed, but do not have the time - give me a ping there as well and I'll see if I can fix it instead.
This library has removed such a large pain-point that I cannot live withou

[2021-04-28 12:52] hannobraun commented on #98
I've also run into a case where I need to specify `TimeInt` in a where clause, but can't.

[2021-04-28 22:54] #55 closed

[2021-04-28 22:59] PTaylor-us commented on #98
@korken89 What do you think about this? I have no problem with making TimeInt public, but the `FixedPoint::integer` change to return a value rather than a reference may have some nuance that I'm not seeing being a little "rusty" on Rust. (I'm sure no one has used that one before ☺)

[2021-04-28 23:10] PTaylor-us commented on #75
@jhbruhn I think you're right. Given that this type may be stored in a struct, it needs to be rewritten without the state-types.

[2021-04-28 23:15] PTaylor-us opened #102 "remove generic Timer struct's State parameter"
Ref: #75

The State type parameter means that a Timer that is going to change state cannot be (nicely) stored in a struct.

Does the Type type parameter also block some use cases?

[2021-04-28 23:59] PTaylor-us commented on #92
I want to allow easy generic usage of any `Duration`/`Rate` (including Generic) with only a `embedded_time::Duration` where clause. I'm assuming this is not possible because the `Add` implementation for Instant requires that the Duration impl `FixedPoint`. This will probably take me some time to figure out unless anyone can help me out. I feel like there's a trait pattern that is missing.

[2021-04-29 12:36] hannobraun commented on #98
`FixedPoint::T` is `TimeInt`, which in turn is always `Copy`. I don't think this proposed change will have any adverse side effects (other than being a breaking change).

[2021-04-30 23:22] PTaylor-us commented on #98
I'm looking into this some more. It looks like every `integer()`-like function I have is returning a reference due to this sematic being common among other crates I used. I'd like to keep things consistent to reduce _surprises_, but also want this to work for you. At the moment I'm considering changing all `integer()`-like functions to a value return.

[2021-05-04 08:30] korken89 commented on #98
Generally, when returning something that is `Copy` and does not need to keep the lifetime of from where it came, it makes most sense to not have it be a reference.

[2021-05-04 08:31] korken89 commented on #102
I'll give this a look.

[2021-05-06 23:25] PTaylor-us opened #104 "smarter macros for defining intra-unit conversions"
There are many instances when converting from a larger-magnitude unit with width u32 to a smaller-magnitude unit with width u64 could use `From`/`Into` rather than their fallible forms. However, my current level of macro expertise limits me to either one or the other (fallible or infallible).

[2021-05-11 13:16] diondokter commented on #98
Both issues have been solved by #101 and #103

[2021-05-11 13:16] #98 closed

[2021-05-11 22:35] #84 closed

[2021-05-23 11:16] korken89 opened #107 "`FixedPoint::integer` is by value, `Generic::integer` is not"
Hi @PTaylor-us

I think this was an oversight when the integer API was changed.
Now the API has bifurcated, should I fix a PR and maybe we should release a new version?

[2021-05-23 16:33] PTaylor-us commented on #107
Absolutely correct. I didn't think to change `Generic::integer`. I'll take a look at this a little later today. Thanks for the heads-up.

[2021-05-23 23:01] PTaylor-us commented on #107
Fixed (589acd79d296e704d8a0576a45877db3607f3792)

[2021-05-25 12:14] korken89 opened #108 "New release with the latest update and fixes"
Hi @PTaylor-us,

How are your thoughts on a new release?
With `0.11` the library is a bit in limbo with the interfaces, so should we perhaps release `0.12` ASAP?

BR Emil

[2021-05-25 12:34] #95 closed

[2021-05-27 09:02] korken89 commented on #102
Hi, I have given this a look and we stand between 2 choices:

Either one has type states which is nice for compile time checking but cumbersome to use in runtime and place in structs,
or we go with the state being an enum in the timer itself which means runtime checking of states and we loose the compile time checks.

One can also wrap the timer object in an enum, where each enum variant maps to a

[2021-05-27 09:04] korken89 commented on #104
One option is to move the macro generation to an internal proc-macro.
This kind of change would be trivial then.

[2021-05-27 09:50] korken89 commented on #107
Hi, the fix seems to not have made it to master?

[2021-05-30 13:52] PTaylor-us commented on #108
Good idea. I'll do that today.

[2021-05-30 13:58] PTaylor-us commented on #102
@korken89 I think the issues brought up with the current type-state scheme are serious enough to switch over to runtime checks. I like the elegance of the type states, but it's just not a good fit for this situation. So I think storing an enum state in the timer is a good way to go.

[2021-05-30 13:59] PTaylor-us commented on #104
I'm not very familiar with proc macros. Is this something you are capable of doing, @korken89?

[2021-05-30 17:58] korken89 commented on #104
I have no problems with proc-macros as with RTIC I mostly write them :) But I am not familiar with all the generation that the current macros are performing.
I'll study the current macro to get a better feel for it.

[2021-05-31 10:35] korken89 commented on #108
I saw that it was released, thanks!

It seems like the release was not made from the `master` branch? Could you have a look at merging from `develop` into `master` the changes that were released?

[2021-06-02 23:08] PTaylor-us commented on #108
It should be now. I did forget to push to master until the next day.

[2021-06-04 06:58] korken89 commented on #108
Thanks!

[2021-06-10 12:23] #108 closed

[2021-08-09 18:51] Sh3Rm4n opened #109 "Clock with runtime defined SCALING_FACTOR"
Hey @PTaylor-us,

first and foremost, thanks for this great crate! It makes working with times and durations much more consistent and intuitive!

I have a question about implementing [`clock::Clock`](https://docs.rs/embedded-time/0.12.0/embedded_time/clock/trait.Clock.html) though.

Is it at all possible to implement it for clocks and timers, which clock bases is defined at runtime as opposed to b

[2021-08-13 13:44] PTaylor-us commented on #109
That is correct. In this case to get the current tick value, it's triggering a linked capture and reading the two registers of a concatenated hardware timer on the nRF52.

Setting aside the context of library author for a sec, in my experience, clock speed is always known at compile time. At the very least, it is known what it _will_ be after startup configuration. It's been a while since I've bee

[2021-08-13 14:20] Sh3Rm4n commented on #109
Yeah, this is something I have though about as well. I think the problem right now is, that the SCALING_FACTOR is set via a associated const, which means that only one clock per timer is possible (which might be okay for a user, but is not for a library author). So I guess a better solution could, that the SCALING_FACTOR is parametrized with const generics.

[code]

But this example, as written ab

[2021-08-15 15:59] PTaylor-us commented on #109
I plan to migrate to const generics when they're ready. That's what I wanted from the start, but had to settle for the associated const. I need to play with some code to understand more fully where the sticking point is. I haven't had a chance to use Rust for some time, so I'm a bit .... wait for it .... rusty :).

Thank you for your interest in the crate and I look forward to working with you to

[2021-08-15 16:56] PTaylor-us commented on #102
@korken89 Have you already done any work on this? I may want to work on it, but don't want to duplicate effort.

[2021-08-15 18:31] korken89 commented on #102
Unfortunately not, I became a dad recently so my contributions to open source projects is currently on hold for a while longer. :)

[2021-08-17 13:08] ryan-summers opened #112 "[Proposal] std-powered Clock implementation for tests"
Many crates that want an `embedded_time::Clock` may also want to have integration/unit tests that run on host. Is it possible to expose a `std`-powered `embedded_time::Clock` that can be easily used for unit/integration testing for dependent crates?

I'm deriving this idea from the [`std-embedded-nal`](https://gitlab.com/chrysn/std-embedded-nal), which provides an `embedded_nal` network stack impl

[2021-08-28 21:22] PTaylor-us opened #115 "optimize generic Duration usage"
## Problem

Currently, a generic function cannot take either a Generic or _named_ Duration/Rate. This is because Generic does not implement FixedPoint.

## Solution

- move associated const SCALING_FACTOR out of FixedPoint
- move FixedPoint into Duration

This will a provide a much more ergonomic way of using a generic Duration and Rate types. I think.

[2021-08-29 14:05] #115 closed

[2021-08-29 14:08] PTaylor-us commented on #92
## Proposed Solution

- move associated const SCALING_FACTOR out of FixedPoint
- move FixedPoint into Duration

This should allow this (eliminate the need to bind `FixedPoint`:
[code]

@korken89 I'm not seeing a good way to eliminate the need for the `Into` binding, though.

[2021-08-29 14:10] #93 closed

[2021-08-29 14:12] PTaylor-us commented on #75
Related: #102

[2021-08-29 14:14] PTaylor-us commented on #88
Completed with release of v0.12.0.

[2021-08-29 14:14] #88 closed

[2021-08-29 14:21] PTaylor-us commented on #99
Sorry for the ridiculously long delay in responding. I'm really hoping to get back into a pattern of working on this crate.

In my implementations, I have been reading directly from hardware which doesn't necessitate changing the internal state of the Clock object. Do you have an implementation that would require that?

[2021-08-29 14:46] PTaylor-us commented on #107
merged to master May 30

[2021-08-29 14:46] #107 closed

[2021-08-29 15:03] PTaylor-us commented on #85
First, thank you for the suggestion. Second, I'm very sorry for the delay. I do see the value of this. It would, however, need to be a Generic duration which is less efficient, but if needs must.

I will definitely look into this.

[2021-08-29 15:09] PTaylor-us commented on #112
Thank you for opening the issue. Testing embedded software on the host system is near and dear to my heart. If I understand correctly, you're talking about a _functional_ implementation of Clock for host systems that will actually return the current time. What would that time be, Unix time?

[2021-08-29 15:14] eldruin commented on #99
Here is some relevant discussion about this: https://github.com/FluenTech/embedded-time/issues/32

[2021-08-29 15:16] PTaylor-us opened #116 "change other integer-returning functions to return by value rather than reference"
For consistency with `FixedPoint` and `Generic` interfaces.

- Fraction::numerator()
- Fraction::denominator()

[2021-08-29 15:18] PTaylor-us commented on #99
@eldruin Thanks for the reminder. It's been awhile.

[2021-08-29 15:21] eldruin commented on #99
You are welcome Peter! nice to see you again :)

[2021-08-29 19:24] PTaylor-us commented on #92
This may not work fully. I wanted to move the const SCALING_FACTOR out of FixedPoint so Generic could also implement FixedPoint, but obviously, the scaling factor of the FixedPoint number must be accessible by the FixedPoint concrete type.

[2021-08-29 20:28] PTaylor-us commented on #92
Current plan is to bind FixedPoint to Duration and Rate. Then I will remove the Duration and Rate implementations for the Generic versions.

[2021-08-29 20:31] PTaylor-us opened #117 "add checked_add and checked_sub to FixedPoint"

[2021-08-29 20:39] PTaylor-us opened #118 "add multiplication of Rate by Duration types and vice-versa"
something/duration * duration = something

Related to #113

[2021-08-30 17:51] ryan-summers commented on #112
Correct - the intent is to have a usable clock. In the past, I've had the desire to "fast forward" a clock for unit testing purposes (e.g. if you have a 24 hour duration that you want to test, I assume you don't want the actual test to last 24 hours).

I created a crate that uses the internal `std::time::Instant` as the basis for timekeeping. Given the API of embedded-time, the underlying clock so

[2021-09-02 13:23] korken89 commented on #92
Sounds interesting, I'll be lurking. :)

[2021-09-11 15:34] PTaylor-us commented on #112
What I've done in the past to have a clock is simply use a mock and manually change the underlying clock count, but that can certainly make things pretty complicated when you have to spawn a new thread to change the clock count in the background while the code-under-test is waiting on it.

How would you "fast forward" if you are tied to a real clock?

If you have the time, I'd love to see an examp

[2021-09-12 20:14] PTaylor-us commented on #89
Completed v0.13.0 release PR

[2021-09-12 20:14] #89 closed

[2021-09-12 20:14] PTaylor-us commented on #92
Completed for v0.13.0 release PR

[2021-09-12 20:14] #92 closed

[2021-09-12 20:15] PTaylor-us commented on #116
Completed for v0.13.0 release PR

[2021-09-12 20:15] #116 closed

[2021-09-12 21:00] PTaylor-us opened #119 "add suffix abbreviations to Format implementation"
This would make the output of the embedded-time types consistent with the core library

[2021-10-08 09:47] ryan-summers opened #121 "Duration type conversions are difficult to use in practice"
In a hypothetical scenario where a user wants to divide a `Seconds<u32>` in half, and the value is unknown, the library performs truncation on the result because the result type assumes the LHS type. For example, `Seconds(1) / 2` is equal to zero duration. This is obviously not desired, so code should protect against this condition.

To guard against this, a logical step is to then instead convert

[2021-10-08 09:51] ryan-summers commented on #121
One work around to this is to just directly construct `Milliseconds<u32>` from the internal seconds:
[code]

But it would be much nicer to expose a `TryFrom<Seconds<u32>>` for `Milliseconds<u32>` and let the application determine whether or not unwrapping is safe (in our case, Seconds<u32> is actually bounded to 16-bit anyways, so an unwrap is always safe)

[2021-10-26 15:16] sakian commented on #112
@PTaylor-us, do you have an example of how you create a mock clock?

[2021-10-26 15:18] ryan-summers commented on #112
As a follow up, I published a separate crate as [`std-embedded-time`](https://crates.io/crates/std-embedded-time) - I would be open to PRs to allow fast-forwarding time etc. or would be happy to incroporate it directly here as well

[2021-10-30 15:31] sourcebox opened #124 "How to get the number of elapsed milliseconds as integer from a clock?"
I want to get the number of elapsed milliseconds within a driver. The following code does not compile:

[code]

It throws the following error:
[code]

The driver should (of course) not make any assumptions of the clock implementation. Is passing the clock as generic parameter the right way to do this?

[2021-11-04 23:00] sourcebox commented on #124
I was able to solve it with some help from dirbaio@matrix.org. The where clause needs to be extended with `u32: TryFrom<Clock::T>`

[2021-11-04 23:00] #124 closed, assigned to nobody

[2022-02-24 01:03] marius-meissner opened #125 "Remaining/Elapsed timer calculation for generic clock"
The following example is failing by unsatisfied trait bounds:
[code]

Are there further trait bound required? I tried already some compiler suggestions, without success.
I would be very grateful for a brief hint in the right direction. Maybe this information could help others later on.

Thanks in advance!

Version: v0.12.1 @ rustc 1.60.0-nightly (88fb06a1f 2022-02-05)

[2022-05-28 22:23] berkowski opened #126 "Calculating ratios is awkward and fragile"
I often need to calculate the ratio of two values with the same units.  For example,

[code]

The workaround is fragile.  What happens if the code changes:
[code]

Having to pull the underlying value out of the type defeats the whole purpose of having these unit types to begin with.  Am I missing something?  Is there a more 'correct' way to calculate the ratio?

I thought the limitation would be i

[2022-11-10 10:26] DrTobe opened #127 "Comparison of sub-second duration::Generic is broken"
When two `Instant`s are subtracted, this results in a `duration::Generic`. This happens, for example, if we want to measure how much time has passed between two moments in time. To compare such a duration to another duration, the other one has to be converted into a `duration::Generic`, too. Unfortunately, comparison between two `duration::Generic`s is broken:

[code]

The problem here is that for

[2022-11-11 16:41] bjorn3 opened #128 "Test suite assumes that tests run one at a time rather than in parallel"
In https://github.com/FluenTech/embedded-time/blob/master/tests/timer.rs a single global static is used and manipulated from multiple tests. This is a race condition resulting in occasional spurious failure like [this crater run](https://crater-reports.s3.amazonaws.com/pr-102570-1/try%23015dbcea68b7642e2acc268b5c8f3e9086fc02ff/reg/embedded-time-0.12.1/log.txt). Using a thread local should fix this

[2022-11-17 12:25] diondokter opened #129 "Async support"
Now that GATs are stable, async support can be added on stable. This would really help when writing async code.

Some of the APIs that would benefit from this are:
https://github.com/FluenTech/embedded-time/blob/83b09cb9c4e4c27fdc10e1089aab87b69a0436c9/src/clock.rs#L48
https://github.com/FluenTech/embedded-time/blob/83b09cb9c4e4c27fdc10e1089aab87b69a0436c9/src/timer.rs#L115
https://github.com/Flue

[2022-11-26 10:21] schubart opened #130 "How to get an instance of `Clock`?"
I have a program that runs on a Raspberry Pi 4 and uses `std::time::Instant`. I want to change it to `no_std` so I can try and make it run on smaller devices. `embedded-time::clock::Clock` seems to be a `no_std` alternative to `std::time::Instant`.

However, `Clock` is just a trait and I can't figure out how to create an instance of it. Do I need to use an additional crate, perhaps specific to Ras